<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add hotel room</title>
</head>
<h1>Add hotel room</h1>
<body>
<form th:action="@{add/addRoom}" th:object="${hotelRoomForm}" method="post">
    <div><label> Air conditioning : <input type="checkbox" th:field="*{hasAirConditioning}"/></label></div>
    <div><label> TV : <input type="checkbox" th:field="*{hasTV}"/></label></div>
    <div><label> Safe : <input type="checkbox" th:field="*{hasSafe}"/></label></div>
    <div><label> Minibar : <input type="checkbox" th:field="*{hasMinibar}"/></label></div>
    <div><label> Hairdryer : <input type="checkbox" th:field="*{hasHairdryer}"/></label></div>
    <label>Type :
        <select th:field="*{roomType}" multiple size="3">
            <option th:value="'SINGLE'">Single</option>
            <option th:value="'DOUBLE'">Double</option>
            <option th:value="'TRIPLE'">Triple</option>
        </select>
    </label>
    <button>Add</button>
</form>
</body>
</html>