<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add tour page</title>
</head>
<body>
<form th:action="@{add}" th:object="${tourAddForm}" method="post">
    <div><label> Name : <input type="text" th:field="*{name}"/></label></div>
    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: coral"></p>
    <div th:if="${doesTourNameExist}"><span>Tour with the same name already exists</span></div>
    <label>Hotel :
        <select th:field="*{hotelName}">
            <option th:if="${hotels != null}" th:each="hotel: ${hotels}" th:value="${hotel.name}" th:text="${hotel.name}">
            </option>
        </select>
    </label>
    <div th:if="${doesHotelNotExist}">
        <span>List with hotel is empty. Click <a th:href="@{/hotel/add}">here</a> to add hotel.</span>
    </div>
    <div><label> Price : <input type="text" th:field="*{price}"/></label></div>
    <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: coral"></p>
    <div><label> Description : <input type="text" th:field="*{description}"/></label></div>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: coral"></p>
    <div><label> Images : <input type="text" th:field="*{images}"/></label></div>
    <p th:if="${#fields.hasErrors('images')}" th:errors="*{images}" style="color: coral"></p>
    <div><label> Children : <input type="checkbox" th:field="*{withChildren}"/></label></div>
    <button>Add</button>
</form>
<br>
<div th:if="${createdTour!=null}">
    <p th:text="${createdTour}"></p>
</div>
</body>
</html>