<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add tour page</title>
</head>
<body>
<html th:include="_header"/>
<h1 class="uk-text-uppercase uk-text-light uk-margin-left uk-position-center-left" style="color: cadetblue">Add tour</h1>
<div style="margin-left: 50%; margin-top: 3%; margin-right: 3%; margin-bottom: 3%">
    <form th:action="@{add}" th:object="${tourAddForm}" method="post">
        <div class="uk-margin">
            <div class="uk-inline">
                <label> Name : <input class="uk-input" type="text" th:field="*{name}"/></label>
            </div>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: coral">
        </div>


        <div class="uk-margin">
            <div class="uk-inline">
                <label> Type of rest:
                    <select th:field="*{typeOfRest}" class="uk-select">
                        <option th:value="'Excursion tour'">Excursion tour</option>
                        <option th:value="'Rest at sea'">Rest at sea</option>
                        <option th:value="'Extreme tour'">Extreme tour</option>
                    </select>
                </label>
            </div>
        </div >
        <div class="uk-margin">
            <div class="uk-inline">
                <label> Hotel name
                    <select th:field="*{hotelName}" class="uk-select">
                        <option th:if="${hotels != null}" th:each="hotel: ${hotels}" th:value="${hotel.name}" th:text="${hotel.name}">
                        </option>
                    </select>
                </label>
            </div>
        </div >


        <div class="uk-margin">
            <div class="uk-inline">
                <label> Tour duration: <input class="uk-input" type="text" th:field="*{tourDuration}"/></label>
            </div>
            <p th:if="${#fields.hasErrors('tourDuration')}" th:errors="*{tourDuration}" style="color: coral">
        </div>
        <div th:if="${tourDurationAndDayAtSeaError!=null}"><span style="color: coral" th:text=
                "${tourDurationAndDayAtSeaError}"></span></div>

        <div class="uk-margin">
            <div class="uk-inline">
                <label> Day at sea: <input class="uk-input" type="text" th:field="*{dayAtSea}"/></label>
            </div>
            <p th:if="${#fields.hasErrors('dayAtSea')}" th:errors="*{dayAtSea}" style="color: coral">
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <label> Price: <input class="uk-input" type="text" th:field="*{price}"/></label>
            </div>
            <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" style="color: coral">
        </div>

        <div class="uk-margin">
            <p>Countries: </p>
            <textarea class="uk-textarea" rows="5" th:field="*{visitedCountries}"></textarea>
        </div >
        <p th:if="${#fields.hasErrors('visitedCountries')}" th:errors="*{visitedCountries}" style="color: coral"></p>

        <div class="uk-margin">
            <p>Description: </p>
            <textarea class="uk-textarea" rows="5" th:field="*{description}"></textarea>
        </div >
        <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: coral"></p>

        <button class="uk-button uk-button-default">Add</button>
    </form>
</div>
<div th:if="${doesTourNameExist}" class="uk-alert-danger uk-container-xsmall uk-position-large uk-position-bottom-left"
     uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <span>Tour with the same name already exists</span>
</div>
</body>
</html>