<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
</head>
<body>
<div>
    <h1>Basket:</h1>

    <table th:if="${session.basketWithTour != null}">
        <tr>
            <th>TOUR NAME</th>
            <th>PRICE</th>
        </tr>
        <tr th:each="tour : ${session.basketWithTour}">
            <td th:text="${tour.name}"></td>
            <td th:text="${tour.pricePerDay}"></td>
        </tr>
    </table>
    <br>
    <form action= "#" th:action="@{request}" method="get">
        <button>Call me</button>
    </form>
</div>
<p>
    <a href="/" th:href="@{/}">Return to home</a>
</p>
</body>
</html>