<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<html th:include="_header"/>
<h1 class="uk-heading-bullet uk-margin-top uk-margin-left" style="color: lightblue">Client requests:</h1>
<div class="uk-grid uk-margin-top uk-margin-right uk-margin-left">
    <table class="uk-table uk-table-middle uk-table-divider">
        <thead>
        <tr>
            <th>ID</th>
            <th>CLIENT NAME</th>
            <th>CLIENT MOBILE NUMBER</th>
            <th>TOURS</th>
            <th>STATUS</th>
            <th>ACTION</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="request : ${list}">
            <td th:text="${'#'+request.id}"></td>
            <td th:text="${request.name}"></td>
            <td th:text="${request.number}"></td>
            <td>
                <button class="uk-button uk-button-text">Tours</button>
                <div uk-dropdown th:if="${!request.tourName.isEmpty()}">
                    <ul class="uk-nav uk-dropdown-nav" th:each="tour : ${request.tourName}" style="position:relative; z-index:1000;">
                        <li class="uk-active"><p th:text="${tour}"></p></li>
                    </ul>
                </div>
                <div uk-dropdown th:unless="${!request.tourName.isEmpty()}">
                    <p>No tours</p>
                </div>
            </td>
            <td th:text="${request.requestStatus.name()}"></td>
            <td>
                <form th:action="@{fromClients/setStatus}" method="post">
                    <select class="uk-select uk-form-width-medium" name="requestStatus">
                        <option th:value="'IN_PROGRESS'">In progress</option>
                        <option th:value="'DONE'">Done</option>
                    </select>
                    <input type="hidden" name="id" th:value="${request.id}">
                    <button class="uk-button uk-button-default">Submit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:if="${isIncorrectCurator}" class="uk-alert-warning uk-container-xsmall uk-position-large
    uk-position-bottom-center" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>You are not curator of this request!</p>
</div>
<div th:if="${isIncorrectStatus}" class="uk-alert-warning uk-container-xsmall uk-position-large
    uk-position-bottom-center" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>You must set status 'In progress' and after completion - 'Done'</p>
</div>
</body>
</html>