<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests</title>
</head>
<body>
<div th:if="${isIncorrectCurator}">
    <p>You are not curator of this request!</p>
</div>

<div th:if="${isIncorrectStatus}">
    <p>You must set status 'In progress' and after completion - 'Done'</p>
</div>
<br>
<h1>Client requests:</h1>
<table th:if="${!list.isEmpty()}">
    <tr>
        <th>ID</th>
        <th>CLIENT NAME</th>
        <th>CLIENT NUMBER</th>
        <th>TOURS NAME</th>
        <th>STATUS</th>
        <th>ACTION</th>
    </tr>
    <tr th:each="request : ${list}">
        <td th:text="${'#'+request.id}"></td>
        <td th:text="${request.name}"></td>
        <td th:text="${request.number}"></td>
        <td>
            <ul style="position:relative; z-index:1000;">
                <li class="hide_show">
                    Tours
                    <ul th:if="${request.tours != null}" th:each="tour : ${request.tours}">
                        <li><a th:href="@{'/tour/'+${tour.id}}" th:text="${tour.name}"></a></li>
                    </ul>
                </li>
            </ul>
        </td>
        <td th:text="${request.requestStatus.name()}"></td>
        <td>

            <form th:action="@{fromClients/setStatus}" method="post">
                <select name="requestStatus">
                    <option th:value="'IN_PROGRESS'">In progress</option>
                    <option th:value="'DONE'">Done</option>
                </select>
                <input type="hidden" name="id" th:value="${request.id}">
                <button>Submit</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>