<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit hotel</title>
</head>
<body>
<div>
    <div th:if="${hotel!=null}">
        <p th:text="'Name: '+${hotel.name}+' '+${hotel.stars}+'*'"></p>
        <p th:text="'Country: '+${hotel.country}"></p>
        <p th:text="'Description: '+${hotel.description}"></p>
        <p th:text="'Line from the sea: '+${hotel.lineFromTheSea}"></p>
        <p th:text="'Description: '+${hotel.description}"></p>
        <div th:each="url: ${hotel.images.urls}">
            <img th:src="@{${url}}" width="300" height="300"/>
        </div>
        <br>
        <form th:action="@{addImages}" enctype="multipart/form-data" method="post">
            <input type="hidden" name="id" th:value="${hotel.id}">
            <label>Add photo: <input type="file" multiple name="images"></label>
            <button>Add</button>
        </form>
        <br>
    </div>
    <div th:if="${incorrectId!=null}">
        <p th:text="${incorrectId}"></p>
    </div>
</div>
</body>
</html>