<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<html th:include="_header"/>
<!--<div style="margin-left: 8%; margin-top: 2%; margin-right: 5%" class="uk-card uk-card-default">-->
<!--    <video src="http://surl.li/rudl" width="1000" height="1300" loop muted playsinline uk-video="autoplay: inview"></video>-->
<!--</div>-->
<div style="margin-left: 2%; margin-top: 2%; margin-right: 1%; margin-bottom: 1%" class="uk-card uk-card-default">
    <div>
            <video src="http://surl.li/rudl" width="1000" height="1300" loop muted playsinline uk-video="autoplay: inview"></video>
    </div>
    <div class="uk-position-large uk-position-center-right">
        <h1 class="uk-heading-bullet uk-margin-top uk-margin-left uk-text-uppercase" style="color: lightblue">We</h1>
        <h1 class="uk-heading-bullet uk-margin-top uk-margin-left uk-text-uppercase" style="color: lightblue">Are</h1>
        <h1 class="uk-heading-bullet uk-margin-top uk-margin-left uk-text-uppercase" style="color: lightblue">Waiting</h1>
        <h1 class="uk-heading-bullet uk-margin-top uk-margin-left uk-text-uppercase" style="color: lightblue">You</h1>
    </div>
</div>
</body>
</html>