<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<html th:include="_header"/>
<div>
    <div class="uk-child-width-expand@s uk-margin-left uk-margin-top uk-margin-right" uk-grid>
        <div class="uk-grid-item-match">
            <div class="uk-card uk-card-default uk-card-body">
                <h1 class="uk-heading-bullet uk-margin-top uk-margin-left" style="color: lightblue">Heading Bullet</h1>
                <div class="uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-auto">
                            <div class="uk-panel">
                                <a class="uk-inline" href="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" data-caption="Caption 1">
                                    <img  src="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" width="300" height="200" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="uk-width-auto">
                            <div class="uk-panel">
                                <a class="uk-inline" href="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" data-caption="Caption 1">
                                    <img src="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" width="300" height="200" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="uk-width-auto">
                            <div class="uk-panel">
                                <a class="uk-inline" href="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" data-caption="Caption 1">
                                    <img src="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" width="300" height="200" alt="">
                                </a>
                            </div>
                        </li>
                        <li class="uk-width-auto">
                            <div class="uk-panel">
                                <a class="uk-inline" href="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" data-caption="Caption 1">
                                    <img src="http://img0.liveinternet.ru/images/attach/b/3/28/580/28580809_59065.jpg" width="300" height="200" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-margin-left uk-margin-top uk-margin-bottom uk-margin-right">
                    <h3 class="uk-text-center">Description</h3>
                    <p class="uk-text-center uk-text-middle">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>
</body>
</html>