<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body>
<html th:include="_header"/>
<div th:if="${incorrectId == null}">
    <div class="uk-child-width-expand@s uk-margin-left uk-margin-top uk-margin-right" uk-grid>
        <div class="uk-grid-item-match">
            <div class="uk-card uk-card-default uk-card-body">
                <h1 class="uk-heading-bullet uk-margin-top uk-margin-left" style="color: lightblue" th:text="${hotel.name}
                +' '+${hotel.stars}+'*'"></h1>
                <div class="uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-auto" th:each="url: ${hotel.images.urls}">
                            <div class="uk-panel">
                                <div class="uk-card-media-left uk-cover-container">
                                    <a class="uk-inline" th:href="${url}" data-caption="Caption 1">
                                        <img th:src="@{${url}}" width="500" height="400" alt="" uk-cover>
                                        <canvas width="500" height="400"></canvas>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-margin-left uk-margin-top uk-margin-bottom uk-margin-right">
<!--                    -->
                </div>
            </div>
        </div>
        <div class="uk-position-relative-center">
            <label for="countries" class="uk-text-large uk-text-itali" style="color: teal">
                Available tours: </label>
            <br>
            <div id="countries">
                    <span th:if="${!hotel.tours.isEmpty()}" class="uk-text-italic" th:each="tour, state: ${hotel.tours}">
                         <a class="uk-text-italic" style="color: darkolivegreen"
                            th:href="@{'/tour/'+${tour.id}}" th:text="${tour.name}"></a>
                        <span th:if="${!state.last}">,</span>
                    </span>
                <span th:unless="${!hotel.tours.isEmpty()}">No tours</span>
            </div>
            <hr>
            <label for="country" class="uk-text-large uk-text-italic" style="color: teal">Country: </label>
            <br>
            <span id="country" th:text="${hotel.country}"></span>
            <hr>
            <label for="lineFromTheSea" class="uk-text-italic uk-text-large" style="color: teal">
                Line from the sea: </label>
            <br>
            <span id="lineFromTheSea" th:text="${hotel.lineFromTheSea}"></span>
            <hr>
            <label for="typeOfFood" class="uk-text-italic uk-text-large" style="color: teal">
                Type of food: </label>
            <br>
            <span id="typeOfFood" th:text="${hotel.typeOfFood}"></span>
            <hr>
            <form sec:authorize="hasAnyAuthority('ADMIN', 'MODERATOR')" th:action="@{edit}" method="get">
                <input type="hidden" name="id" th:value="${hotel.id}">
                <button class="uk-button uk-button-default">Edit</button>
            </form>
        </div>
    </div>
</div>
<div  th:if="${incorrectId==null}" style="margin-left: 5%; margin-right: 5%; margin-top: 2%; margin-bottom: 5%">
    <uk uk-accordion>
        <li>
            <a class="uk-accordion-title uk-text-large uk-text-italic uk-text-uppercase"
               style="color: coral" href="#">Description</a>
            <div class="uk-accordion-content">
                <p class="uk-text-left">
                    <span th:text="${hotel.description}"></span>
                </p>
            </div>
        </li>
    </uk>
</div>
<div th:if="${incorrectId!=null}" class="uk-alert-danger uk-container-xsmall uk-position-large uk-position-bottom-center"
     uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <span th:text="${incorrectId}"></span>
</div>
</body>
</html>