<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moderators</title>
</head>
<body>
<html th:include="_header"/>
<div style="margin-left: 5%; margin-top: 5%; margin-right: 5%; margin-bottom: 5%">
    <h1 class="uk-heading-bullet uk-margin-top uk-margin-left" style="color: lightblue">Moderators:</h1>
    <form th:action="@{/admin/findUserByUsername}" method="post">
        <input class="uk-input uk-form-width-medium" type="text" name="username">
        <button class="uk-button uk-button-default">Find</button>
    </form>
    <p th:if="${userNotFound!=null}">
        <span style="color: coral" th:text="${userNotFound}"></span>
    </p>
    <p th:if="${alreadyModerator!=null}">
        <span style="color: coral" th:text="${alreadyModerator}"></span>
    </p>
    <table class="uk-table uk-table-divider" th:if="${userByUsername!=null}">
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>ACTION</th>
        </tr>
        <td th:text="${'#'+userByUsername.id}"></td>
        <td th:text="${userByUsername.username}"></td>
        <td th:text="${userByUsername.email}"></td>

        <td>
            <form th:if="${alreadyModerator==null}" th:action="@{moderators/updateRole}" method="post">
                <input type="hidden" name="id" th:value="${userByUsername.id}">
                <button class="uk-button uk-button-default">Make a moderator</button>
            </form>
        </td>
    </table>
    <table class="uk-table uk-table-divider" th:if="${!listWithModerators.isEmpty()}">
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>ACTION</th>
        </tr>
        <tr th:each="moderator: ${listWithModerators}">
            <td th:text="${'#'+moderator.id}"></td>
            <td th:text="${moderator.username}"></td>
            <td th:text="${moderator.email}"></td>

            <td>
                <form th:action="@{moderators/updateRole}" method="post">
                    <input type="hidden" name="id" th:value="${moderator.id}">
                    <button class="uk-button uk-button-default">Remove</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>