<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<html th:include="_header"/>
<div class="uk-position-medium uk-position-center-left uk-overlay uk-overlay-default">
    <h1 class="uk-text-uppercase uk-text-light" style="color: cadetblue">Sign up</h1>
</div>
<div class="uk-position-medium uk-position-center uk-overlay uk-overlay-default">
    <form th:action="@{registration}" th:object="${userForm}" method="post">
        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input" type="text" th:field="*{username}">
            </div>
<!--            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: coral"></p>-->
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" th:field="*{password}">
            </div>
<!--            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: coral"></p>-->
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input" type="text" th:field="*{email}">
            </div>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: coral"></p>
        </div >
        <button class="uk-button uk-button-default">Confirm</button>
    </form>
</div>


<div th:if="${usernameExistError!=null}" class="uk-alert-danger uk-container-xsmall uk-position-large uk-position-bottom-center" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p th:text="${usernameExistError}+' '"></p>
</div>
<div th:if="${emailExistError!=null}" class="uk-alert-danger uk-container-xsmall uk-position-large uk-position-bottom-center" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p th:text="${emailExistError}+' '"></p>
</div>
<div th:if="${success}" class="uk-alert-success uk-container-xsmall uk-position-large uk-position-bottom-center" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>Success! You can sign in! </p>
</div>
</body>
</html>