<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Tour</title>
</head>
<body>
<html th:include="_header"/>
<div th:if="${incorrectId!=null}" class="uk-alert-warning uk-container-xsmall uk-position-large
    uk-position-bottom-center" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p th:text="${incorrectId}"></p>
</div>
<div th:if="${alreadyAdded!=null}" class="uk-alert-primary uk-container-xsmall uk-position-large
    uk-position-bottom-center" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p th:text="${alreadyAdded}"></p>
</div>
<div th:if="${tour!=null}">
    <div class="uk-child-width-expand@s uk-margin-left uk-margin-top uk-margin-right" uk-grid>
            <div class="uk-grid-item-match">
            <div class="uk-card uk-card-default uk-card-body">
            <h1 class="uk-heading-bullet uk-margin-top uk-margin-left" style="color: lightblue" th:text="${tour.name}"></h1>
                <div class="uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
                    <ul class="uk-slider-items uk-grid">
                        <li class="uk-width-auto" th:each="url: ${tour.images.urls}">
                            <div class="uk-panel">
                                <div class="uk-card-media-left uk-cover-container">
                                    <a class="uk-inline" th:href="${url}" data-caption="Caption 1">
                                        <img th:src="@{${url}}" width="500" height="400" alt="" uk-cover>
                                        <canvas width="500" height="400"></canvas>
                                        </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-margin-left uk-margin-top uk-margin-bottom uk-margin-right">
<!--                    -->
                </div>
            </div>
    </div>
            <div class="uk-position-relative-center">
                <br>
                <label for="countries" class="uk-text-large uk-text-itali" style="color: teal">
                    Countries you will visit: </label>
                <br>
                <div id="countries">
                    <span class="uk-text-italic" th:each="country, state: ${tour.visitedCountries}">
                        <span th:text="${country}"></span>
                        <span th:if="${!state.last}">,</span>
                    </span>
                </div>
                <hr>
                <label for="typeOfRest" class="uk-text-large uk-text-italic" style="color: teal">
                    Type of rest: </label>
                <br>
                <span id="typeOfRest" th:text="${tour.typeOfRest.getStringName(tour.typeOfRest)}"></span>
                <hr>
                <label for="tourDuration" class="uk-text-large uk-text-italic" style="color: teal">
                    Tour duration: </label>
                <br>
                <span id="tourDuration" th:text="${tour.tourDuration}+'('+${tour.dayAtSea}+
                ' day at sea)'"></span>
                <hr>
                <label for="restHotel" class="uk-text-large uk-text-italic" style="color: teal">
                    Hotel where you will relax by the sea: </label>
                <br>
                <span th:if="${tour.hotel != null}" id="restHotel">
                    <a class="uk-text-italic" style="color: darkolivegreen"
                       th:href="@{'/hotel/'+${tour.hotel.id}}" th:text="${tour.hotel.name}"></a>
                </span>
                <span th:unless="${tour.hotel != null}" style="color: darkolivegreen">
                    No hotel
                </span>
                <hr>
                <label class="uk-text-large uk-text-italic" style="color: teal">Price: </label>
                <span class="uk-text-large uk-text-italic uk-text-uppercase" style="color: coral" th:text="${tour.price}+' $'"></span>
                <hr>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'MODERATOR')">
                    <form th:action="@{edit}" method="get">
                        <input type="hidden" name="id" th:value="${tour.id}">
                        <button class="uk-button uk-button-default">Edit</button>
                    </form>
                    <form th:action="@{delete}" method="post">
                        <input type="hidden" name="id" th:value="${tour.id}">
                        <button class="uk-button uk-button-default">Delete</button>
                    </form>
                    <hr>
                </div>
                <form th:action="@{addToWishes}" method="post">
                    <input type="hidden" name="tourId" th:value="${tour.id}">
                    <button class="uk-button uk-button-default">Add to wishes</button>
                </form>
            </div>
        </div>
    </div>
<div style="margin-left: 5%; margin-right: 5%; margin-top: 2%; margin-bottom: 5%">
    <uk uk-accordion>
        <li>
            <a class="uk-accordion-title uk-text-large uk-text-italic uk-text-uppercase"
               style="color: teal" href="#">Description</a>
            <div class="uk-accordion-content">
                <p class="uk-text-left">
                    <span th:text="${tour.description}"></span>
                </p>
            </div>
        </li>
    </uk>
</div>
</body>
</html>